<h1>Order Details</h1>


<% if flash[:notice] %>
  <p id="notice" style="color: green;">
  <%= flash[:notice] %>
  </p>
<% end %>

<p>
<strong>Customer Name:</strong>
<%= @order.customer_name %>
</p>

<p>
<strong>Product:</strong>
<%= @order.product.name %>
</p>

<%= link_to 'Add new order', new_order_path, style: 'margin-top: 20px;' %>
